<html ng-app="hotel">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>SuryaNagar Hotel - Spices for Tastebuds</title>
	<script type="text/javascript" src="../src/angular.min.js"></script>
	<script type="text/javascript" src="../src/app.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/main.css"></link>
</head>
<body class="container-fluid container">
	<div ng-include="'name.html'" >
	</div>
	<div class="row">
		<a href="../index.html"><div class="col-md-6 col-xs-6" id="menubu">
			Home
		</div></a>
		<a href="menu.html"><div class="col-md-6 col-xs-6" id="contbu">
			Menu
		</div></a>
	</div>
	<div id="contactus">
		<div class="row">
			<div class="col-md-7">
				<img src="../img/restaurant.jpg" id="restaurantimg"/>
			</div>
			<div class="col-md-5">
				<img src="../img/chef.jpg" id="chefimg" />
			</div>
		</div>
		<div id="cont">CONTACT US HERE </div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-1">
				<a href="#">
				<img src="../img/facebook.jpg" id="smallimg">
				</a>
			</div>
			<div class="col-md-1">
				<a href="#">
				<img src="../img/gmail.jpg" id="smallimg">
				</a>
			</div>
			<div class="col-md-1">
				<a href="#">
				<img src="../img/twitter.jpg" id="smallimg">
				</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>