body {
  font-family: "Droid Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  /*color: #fff;*/
  background: #aaf;
}

.maintit{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

